{% extends 'base.html' %}

{% block title %}인스턴스{% endblock %}

{% block content %}
<canvas id="canvas" width="1024" height="768">
  Your browser does not support the canvas element.
</canvas>

<textarea id="coordinates" rows="4" cols="50">
</textarea>
<button id="save-instance" >Save</button>

<form method="post" id="cut-instance-submit">
  {% csrf_token %}
</form>
{% endblock %}

{% block script %}
<script>
  var csrftoken = Cookies.get('csrftoken');

  var canvas = document.getElementById('canvas');
  var ctx = document.getElementById('canvas').getContext('2d');

  var txtarea = document.getElementById('coordinates');

  var points = [];

  // Determine where the user clicked, I believe I pulled this from elsewhere on StackOverflow a while ago.
  function getCursorPosition(e) {
    var mx, my;
    if (e.pageX || e.pageY) {
      mx = e.pageX;
      my = e.pageY;
    }
    else {
      mx = e.clientX + document.body.scrollLeft + document.documentElement.scrollLeft;
      my = e.clientY + document.body.scrollTop + document.documentElement.scrollTop;
    }
    mx -= canvas.offsetLeft;
    my -= canvas.offsetTop;
    return {x: mx, y: my};
  }

  // Once we have at least two points, draw a line between them.
  function drawLine() {
    ctx.beginPath();
    for (var i = 0; i < points.length - 1; i++) {
      ctx.moveTo(points[i]['x'], points[i]['y']);
      ctx.lineTo(points[i+1]['x'], points[i+1]['y']);
      ctx.stroke();
    }
    ctx.closePath();
  }

  function drawDot(x,y) {
      var dotSize = 3;
      ctx.fillStyle = "#ff2626";
      ctx.beginPath();
      ctx.arc(x, y, dotSize, 0, Math.PI * 2, true);
      ctx.fill();
  }

  // Listen for clicks, and redraw the map when they occur.
  function initPointCollection() {
    canvas.onclick = function(e) {
      var point = getCursorPosition(e);
      points.push(point);
      console.log(points)

      if (points.length > 1) {
        drawLine();
      }
      drawDot(point.x,point.y)

      txtarea.value = JSON.stringify(points)
    }
  }

  function init() {
    // Load up your image.  Don't attempt to draw it until we know it's been loaded.
    var edit_img = new Image();
    edit_img.onload = function() {
      ctx.drawImage(this, 0, 0);
      initPointCollection();
    }
      edit_img.src = '{{ cut_img_url }}';  // Replace with actual image.
  }

  // Should check if document has finished loading first, but I'm too lazy, especially without JQuery.
  init();

  function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
  }
  $.ajaxSetup({
    beforeSend: function(xhr, settings) {
      if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
        xhr.setRequestHeader("X-CSRFToken", csrftoken);
      }
    }
  });

  $('#save-instance').click(function(event) {
  // You gotta include the csrf_token in your post data
    try {
      JSON.parse(txtarea.value);
    } catch (e) {
      txtarea.value = JSON.stringify(points)
    }
    event.preventDefault();
    $.ajax({
      type: 'POST',
      url: '{% url 'artia:cut-instance' pk %}',
      data: {'coordinates': txtarea.value, 'csrfmiddlewaretoken': csrftoken},
      success: function (data, textStatus) {
        //alert(data, textStatus);
        $('#output').html(data); // append to inner html
      },
      error: function(xhr, status, e) {
        alert(status, e);
      }
    });
  });
</script>
{% endblock %}

{% block footer %}
  <p><a href="{% url 'artia:home' %}">홈으로</a></p>
{% endblock %}
