{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>psd.js image example</title>

    <link rel="stylesheet" type="text/css" href="{% static 'webapp/css/style.css' %}">
    <script type="text/javascript" src="{% static 'webapp/js/psd.min.js' %}"></script>

  </head>
  <body>
    <div id="dropzone">
      <input type="file" multiple style="display:none" id="upload-files">
      <p>Drop here</p>
    </div>

    <div id="image"></div>
    <pre id="data"></pre>

    <script type="text/javascript" src="{% static 'webapp/js/main.js' %}"></script>
  </body>
</html>

